:root {
  --col1: #D93240;   /*rosso*/
  --col2: #638CA6;   /*blu scuro*/
  --col3: #BFD4D9;   /*blu chiaro*/
  --col4: #0F5959;   /*verde acqua scuro*/
  --col5: #17A697;   /*verde acqua chiaro*/
}
@font-face {
    font-family: 'FreeStyleMT';
    src: url('../Risorse/Font/FreeStyle.ttf');
}
.openerDiv{
	position:fixed;
	left:0px;
	top:0px;
	height:100vh;
	width:10%;
}
.menuDiv{
	background-color:var(--col4);
	height:100vh;
	width:10%;
	position:fixed;
	left:-10%;
	z-index:1000;
	transition:transform .5s;
	transform:translate(10%);
}
.noselectable{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.fb{margin-top:40vh;}
.btn{
	float:right;
	width:100%;
	height:5vh;
	border-left-style:none;
	border-right-style:none;
	border-top-style:none;
	color:var(--col3);
	background-color:var(--col4);
}
.btn:hover{
	color:var(--col3);
	background-color:var(--col5);
	outline:none;
}
.sel{
	background-color:var(--col1);
}
.sel:hover{
	background-color:var(--col1);
}
.logoImg{
	text-align:center;
	width:100%;
	height:auto;
	max-height:150px;
	font-family:'FreeStyleMT';
	font-size:17vh;
	outline:none;
	color:var(--col2);
	margin:auto;
	margin-bottom:10px;
	display:block;
}
.mainDiv{
	width:80%;
	min-height:97vh;
	background-color:var(--col3);
	box-shadow:0px 0px 10px black;  
}

.campDiv{
	overflow: auto;
	
	margin-bottom:5px;
}
.veryverysmall{width:20%;}
.left{float:left;}
.right{float:right;}
.verysmall{width:33.33%;}
.small{width:40%;}
.big{width:100%;}
.campP{
	width:100%;
	height:5vh;
	text-align:left;
	float:left;
	font-size:200%;
	margin-bottom:10px;
	vertical-align: middle;
}
.campInputText{
	max-height:5vh;
	float:left;
	width:90%;
	height:50%;
	outline:none;
	border-radius:10px;
	border:none;
	transition:background-color 0.5s;
	background-color:var(--col2);
	color:var(--col3);
}
.acceptBtn{
	color:var(--col1);
	background-color:var(--col2);
	border-radius:30px;
	height:13%;
	width:50%;
	font-size:200%;
}
.acceptBtn:active{
	color:var(--col2);
	background-color:var(--col1);
}
.eventDiv{
	overflow: auto;
	min-width:361.59px;
	min-height:20%;
	max-height:30%;
	width:100%;
	box-shadow:0px 0px 10px gray; 
}
.eventImg{
	height:66%;
	max-width:30%;
	width:auto;
	float:left;
	box-shadow:0px 0px 10px gray; 
}
.eventDivAddon{min-width:361.59px;border:none;}
.eventSpan{
	height:20%;
	text-align:left;
	background-color:var(--col5);
	color:var(--col4);
	border: none;
	margin-bottom:10px;
	resize: none;
	outline:none;
	min-width:70%;
	width:100%;
	box-shadow:0px 0px 10px gray; 
}
.eventDate{
	height:8%;
	width:100%;
	z-index:500;
	font-size:100%;
	box-shadow:0px 0px 10px gray; 
}
.eventLeft{
	float:left;
	text-align:left;
	height:100%;
	width:70%;
	z-index:500;
	font-size:100%;
	background-color:var(--col2);
	color:var(--col1);
	box-shadow:0px 0px 10px gray; 
}
.eventRight{
	float:right;
	text-align:center;
	height:100%;
	width:30%;
	z-index:500;
	font-size:100%;
	background-color:var(--col1);
	color:var(--col2);
	box-shadow:0px 0px 10px gray; 
}
.mapstyle{
	width: 100%;
    height: 600px;
}
p{color:var(--col4);}
table{
	border-collapse: collapse;
    width: 100%;
}
th,td{
	text-align: left;
    padding: 8px;
	
}
tr:nth-child(odd){background-color: var(--col2);color:var(--col4);}
tr:nth-child(even){background-color: var(--col3);color:var(--col5);}
th {
    background-color: var(--col1);
    color: white;
}
tr{
	min-height:2vh;
	height:2vh;
}
.rules:link {color: #0F5959;}
.rules:visited {color: #D93240;}
.rules:hover {color: #17A697;}
.rules:active {color: #638CA6;}
.imgGal{
	width:25vw;
	height:17vw;
}
.ristoBtn{
    background-color:var(--col5);
    color:var(--col3);
    border:none;
    margin-bottom:25px;
    max-height:150px;
    height:5%;
    width:48.5%;
    float:left;
	cursor:pointer;
	margin-left:1%;
	
}
.ristoBtn:hover{
		background-color:var(--col2);
	}
.contBtn{
	border-style:solid;
	margin-top:25px;
	height:5vh;
    width:48.5%;
	border-color:var(--col2);
	background-color:var(--col3);
	color:var(--col2);
	outline:none;
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}